.idea
Library
UserSettings
Temp
obj
Logs
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
CsharpMainProject.sln
.vs/CSharpMainProjectMyFork/FileContentIndex/64f352f0-d754-43f1-84fa-7e4191690dfe.vsidx
.vs/CSharpMainProjectMyFork/FileContentIndex/a134d65c-3566-4a39-84bc-92536586299b.vsidx
